In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data_cleaning_sample.csv")

In [3]:
df

      Name   Age        City  Gender             Email   Join Date
0   Aditya  24.0       Delhi    Male  aditya@gmail.com  15-01-2023
1    Rahul   NaN      Mumbai    Male   rahul@yahoo.com  10-02-2023
2    Sneha  22.0         NaN  Female   sneha@gmail.com  05-03-2023
3    Rohit  30.0   Hyderabad     NaN   rohit@gmail.com  28-02-2023
4     Amit  28.0   Bangalore    Male    amit@gmail.com         NaN
5     Neha   NaN       Delhi  Female    neha@yahoo.com  12-04-2023
6    Rohit  30.0   Hyderabad     NaN   rohit@gmail.com  28-02-2023
7    Kiran  27.0         NaN    Male               NaN  18-03-2023
8   Simran  23.0  Chandigarh  Female  simran@gmail.com         NaN
9    Vikas   NaN      Jaipur    Male   vikas@yahoo.com  01-05-2023
10  Anjali  26.0      Indore  Female               NaN  20-04-2023
11  Suresh  35.0         NaN    Male  suresh@gmail.com  08-01-2023
12   Meena   NaN      Bhopal  Female   meena@yahoo.com         NaN
13   Arjun  29.0     Chennai     NaN               NaN  14-02-2023
14   Kavya  21.0       Kochi  Female   kavya@gmail.com  30-03-2023
15   Kavya  21.0       Kochi  Female   kavya@gmail.com  30-03-2023
16  Aditya  24.0       Delhi    Male  aditya@gmail.com  15-01-2023

In [9]:
import pandas as pd

# Load dataset
df = pd.read_csv("data_cleaning_sample.csv")

# 1. Check missing values
df.isnull().sum()

# 2. Convert Join Date to datetime
df["Join Date"] = pd.to_datetime(df["Join Date"], errors="coerce")

# 3. Fill missing Age with mean
df["Age"] = df["Age"].fillna(df["Age"].mean())

# 4. Fill missing City with mode
df["City"] = df["City"].fillna(df["City"].mode()[0])

# 5. Fill missing Gender with mode
df["Gender"] = df["Gender"].fillna(df["Gender"].mode()[0])

# 6. Fill missing Email with placeholder
df["Email"] = df["Email"].fillna("not_provided")

# 7. Fill missing Join Date with median date
df["Join Date"] = df["Join Date"].fillna(df["Join Date"].median())

# 8. Remove duplicate rows (if any)
df = df.drop_duplicates()

# 9. Reset index
df.reset_index(drop=True, inplace=True)

# 10. Final check
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       14 non-null     object
 1   Age        14 non-null     float64
 2   City       14 non-null     object
 3   Gender     14 non-null     object
 4   Email      14 non-null     object
 5   Join Date  14 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 804.0+ bytes

C:\Users\adity\AppData\Local\Temp\ipykernel_17760\4186687501.py:10: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Join Date"] = pd.to_datetime(df["Join Date"], errors="coerce")

In [10]:
df

,Name,Age,City,Gender,Email,Join Date
0,Aditya,24.000000,Delhi,Male,aditya@gmail.com,2023-01-15 00:00:00
1,Rahul,26.153846,Mumbai,Male,rahul@yahoo.com,2023-02-10 00:00:00
2,Sneha,22.000000,Delhi,Female,sneha@gmail.com,2023-03-05 00:00:00
3,Rohit,30.000000,Hyderabad,Female,rohit@gmail.com,2023-02-28 00:00:00
4,Amit,28.000000,Bangalore,Male,amit@gmail.com,2023-03-02 12:00:00
5,Neha,26.153846,Delhi,Female,neha@yahoo.com,2023-04-12 00:00:00
6,Kiran,27.000000,Delhi,Male,not_provided,2023-03-18 00:00:00
7,Simran,23.000000,Chandigarh,Female,simran@gmail.com,2023-03-02 12:00:00
8,Vikas,26.153846,Jaipur,Male,vikas@yahoo.com,2023-05-01 00:00:00
9,Anjali,26.000000,Indore,Female,not_provided,2023-04-20 00:00:00
10,Suresh,35.000000,Delhi,Male,suresh@gmail.com,2023-01-08 00:00:00
11,Meena,26.153846,Bhopal,Female,meena@yahoo.com,2023-03-02 12:00:00
12,Arjun,29.000000,Chennai,Female,not_provided,2023-02-14 00:00:00
13,Kavya,21.000000,Kochi,Female,kavya@gmail.com,2023-03-30 00:00:00

In [11]:
df["Age"] = df["Age"].round().astype(int)

In [12]:
df

      Name  Age        City  Gender             Email           Join Date
0   Aditya   24       Delhi    Male  aditya@gmail.com 2023-01-15 00:00:00
1    Rahul   26      Mumbai    Male   rahul@yahoo.com 2023-02-10 00:00:00
2    Sneha   22       Delhi  Female   sneha@gmail.com 2023-03-05 00:00:00
3    Rohit   30   Hyderabad  Female   rohit@gmail.com 2023-02-28 00:00:00
4     Amit   28   Bangalore    Male    amit@gmail.com 2023-03-02 12:00:00
5     Neha   26       Delhi  Female    neha@yahoo.com 2023-04-12 00:00:00
6    Kiran   27       Delhi    Male      not_provided 2023-03-18 00:00:00
7   Simran   23  Chandigarh  Female  simran@gmail.com 2023-03-02 12:00:00
8    Vikas   26      Jaipur    Male   vikas@yahoo.com 2023-05-01 00:00:00
9   Anjali   26      Indore  Female      not_provided 2023-04-20 00:00:00
10  Suresh   35       Delhi    Male  suresh@gmail.com 2023-01-08 00:00:00
11   Meena   26      Bhopal  Female   meena@yahoo.com 2023-03-02 12:00:00
12   Arjun   29     Chennai  Female      not_provided 2023-02-14 00:00:00
13   Kavya   21       Kochi  Female   kavya@gmail.com 2023-03-30 00:00:00

In [17]:
df.sort_values("Age")

      Name  Age        City  Gender             Email           Join Date
13   Kavya   21       Kochi  Female   kavya@gmail.com 2023-03-30 00:00:00
2    Sneha   22       Delhi  Female   sneha@gmail.com 2023-03-05 00:00:00
7   Simran   23  Chandigarh  Female  simran@gmail.com 2023-03-02 12:00:00
0   Aditya   24       Delhi    Male  aditya@gmail.com 2023-01-15 00:00:00
1    Rahul   26      Mumbai    Male   rahul@yahoo.com 2023-02-10 00:00:00
5     Neha   26       Delhi  Female    neha@yahoo.com 2023-04-12 00:00:00
8    Vikas   26      Jaipur    Male   vikas@yahoo.com 2023-05-01 00:00:00
9   Anjali   26      Indore  Female      not_provided 2023-04-20 00:00:00
11   Meena   26      Bhopal  Female   meena@yahoo.com 2023-03-02 12:00:00
6    Kiran   27       Delhi    Male      not_provided 2023-03-18 00:00:00
4     Amit   28   Bangalore    Male    amit@gmail.com 2023-03-02 12:00:00
12   Arjun   29     Chennai  Female      not_provided 2023-02-14 00:00:00
3    Rohit   30   Hyderabad  Female   rohit@gmail.com 2023-02-28 00:00:00
10  Suresh   35       Delhi    Male  suresh@gmail.com 2023-01-08 00:00:00

In [18]:
df.sort_values("Age", ascending=False)

      Name  Age        City  Gender             Email           Join Date
10  Suresh   35       Delhi    Male  suresh@gmail.com 2023-01-08 00:00:00
3    Rohit   30   Hyderabad  Female   rohit@gmail.com 2023-02-28 00:00:00
12   Arjun   29     Chennai  Female      not_provided 2023-02-14 00:00:00
4     Amit   28   Bangalore    Male    amit@gmail.com 2023-03-02 12:00:00
6    Kiran   27       Delhi    Male      not_provided 2023-03-18 00:00:00
1    Rahul   26      Mumbai    Male   rahul@yahoo.com 2023-02-10 00:00:00
5     Neha   26       Delhi  Female    neha@yahoo.com 2023-04-12 00:00:00
8    Vikas   26      Jaipur    Male   vikas@yahoo.com 2023-05-01 00:00:00
9   Anjali   26      Indore  Female      not_provided 2023-04-20 00:00:00
11   Meena   26      Bhopal  Female   meena@yahoo.com 2023-03-02 12:00:00
0   Aditya   24       Delhi    Male  aditya@gmail.com 2023-01-15 00:00:00
7   Simran   23  Chandigarh  Female  simran@gmail.com 2023-03-02 12:00:00
2    Sneha   22       Delhi  Female   sneha@gmail.com 2023-03-05 00:00:00
13   Kavya   21       Kochi  Female   kavya@gmail.com 2023-03-30 00:00:00

In [20]:
df2 = df.sort_values("Age").copy()

In [26]:
df2.reset_index(drop=True, inplace=True)

In [27]:
df2

      Name  Age        City  Gender             Email           Join Date
0    Kavya   21       Kochi  Female   kavya@gmail.com 2023-03-30 00:00:00
1    Sneha   22       Delhi  Female   sneha@gmail.com 2023-03-05 00:00:00
2   Simran   23  Chandigarh  Female  simran@gmail.com 2023-03-02 12:00:00
3   Aditya   24       Delhi    Male  aditya@gmail.com 2023-01-15 00:00:00
4    Rahul   26      Mumbai    Male   rahul@yahoo.com 2023-02-10 00:00:00
5     Neha   26       Delhi  Female    neha@yahoo.com 2023-04-12 00:00:00
6    Vikas   26      Jaipur    Male   vikas@yahoo.com 2023-05-01 00:00:00
7   Anjali   26      Indore  Female      not_provided 2023-04-20 00:00:00
8    Meena   26      Bhopal  Female   meena@yahoo.com 2023-03-02 12:00:00
9    Kiran   27       Delhi    Male      not_provided 2023-03-18 00:00:00
10    Amit   28   Bangalore    Male    amit@gmail.com 2023-03-02 12:00:00
11   Arjun   29     Chennai  Female      not_provided 2023-02-14 00:00:00
12   Rohit   30   Hyderabad  Female   rohit@gmail.com 2023-02-28 00:00:00
13  Suresh   35       Delhi    Male  suresh@gmail.com 2023-01-08 00:00:00

In [31]:
df2["Rank"] = df["Age"].rank(method="dense")

In [32]:
df2

,Name,Age,City,Gender,Email,Join Date,Rank
0,Kavya,21,Kochi,Female,kavya@gmail.com,2023-03-30 00:00:00,4.0
1,Sneha,22,Delhi,Female,sneha@gmail.com,2023-03-05 00:00:00,5.0
2,Simran,23,Chandigarh,Female,simran@gmail.com,2023-03-02 12:00:00,2.0
3,Aditya,24,Delhi,Male,aditya@gmail.com,2023-01-15 00:00:00,9.0
4,Rahul,26,Mumbai,Male,rahul@yahoo.com,2023-02-10 00:00:00,7.0
5,Neha,26,Delhi,Female,neha@yahoo.com,2023-04-12 00:00:00,5.0
6,Vikas,26,Jaipur,Male,vikas@yahoo.com,2023-05-01 00:00:00,6.0
7,Anjali,26,Indore,Female,not_provided,2023-04-20 00:00:00,3.0
8,Meena,26,Bhopal,Female,meena@yahoo.com,2023-03-02 12:00:00,5.0
9,Kiran,27,Delhi,Male,not_provided,2023-03-18 00:00:00,5.0
10,Amit,28,Bangalore,Male,amit@gmail.com,2023-03-02 12:00:00,10.0
11,Arjun,29,Chennai,Female,not_provided,2023-02-14 00:00:00,5.0
12,Rohit,30,Hyderabad,Female,rohit@gmail.com,2023-02-28 00:00:00,8.0
13,Suresh,35,Delhi,Male,suresh@gmail.com,2023-01-08 00:00:00,1.0

df.rename(columns={"oldName" : "newName"}, inplace=True)
df.rename(index={0: "row1", 1: "newName"}, inplace=True)
df.columns = ["Name", "Age", "City"]   # to rename all columns.